<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="BackOffice"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="BackOffice"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr" data-ng-app="BackOffice">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title data-ng-bind="'Binbirgece Yönetim Paneli | ' + $state.current.data.pageTitle"></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="~/Global/simple-line-icons-master/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link href="../areas/manage/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../areas/manage/assets/css/uniform.default.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="../areas/manage/assets/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../areas/manage/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../areas/Manage/assets/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    <link href="../areas/manage/assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../areas/manage/assets/css/light.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../areas/manage/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    @*<base href="">*@
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body ng-controller="ContentController" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-on-load" ng-class="{'page-sidebar-closed': settings.layout.pageSidebarClosed}">

    <!-- BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div loading class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- END PAGE SPINNER -->
    <!-- BEGIN HEADER -->
    <div data-ng-include="'../areas/manage/assets/js/views/layout/header.html'" data-ng-controller="HeaderController" class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
    </div>
    <!-- END HEADER -->

    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div data-ng-include="'../areas/manage/assets/js/views/layout/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper">
        </div>
        <!-- END SIDEBAR -->
        <div class="page-content-wrapper">
            <div class="page-content">

                <!-- BEGIN PAGE HEAD -->
                
                <!-- END PAGE HEAD -->
                <!-- BEGIN ACTUAL CONTENT -->
                <!-- uiView:  -->
                <div ui-view="" class="fade-in-up ng-scope"></div>
                <!-- END ACTUAL CONTENT -->
            </div>
        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div data-ng-include="'../areas/manage/assets/js/views/layout/footer.html'" data-ng-controller="FooterController" class="page-footer">
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE JQUERY PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../../../areas/manage/assets/global/plugins/respond.min.js"></script>
    <script src="../../../areas/manage/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->

    <script src="../areas/manage/assets/js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="../areas/manage/assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
    <script src="../areas/manage/assets/plugins/bootstrap-toastr/toastr.min.js"></script>



    <!-- END CORE JQUERY PLUGINS -->
    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    <script src="../areas/manage/assets/js/vendor/angular.min.js" type="text/javascript"></script>
    <script src="../areas/manage/assets/js/vendor/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="../Areas/Manage/Assets/js/vendor/angular-checklist.js" type="text/javascript"></script>
    <script src="../Areas/Manage/Assets/js/vendor/angular-cache-buster.js"></script>
    <script src="../Areas/Manage/Assets/js/vendor/angular-confirm.js"></script>
    <script src="../areas/manage/assets/js/vendor/ocLazyLoad.min.js" type="text/javascript"></script>
    <script src="../Areas/Manage/Assets/plugins/angular-checklist/angular-checklist-model.js"></script>
    <script src="../areas/manage/assets/js/vendor/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="~/Areas/Manage/Assets/js/vendor/underscore.js"></script>
    <!-- END CORE ANGULARJS PLUGINS -->
    <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
    <script src="../Areas/Manage/Assets/js/app.module.js"></script>
    <script src="../Areas/Manage/Assets/js/app.config.js"></script>
    <script src="../Areas/Manage/Assets/js/app.service.js"></script>
    <script src="../Areas/Manage/Assets/js/app.route.js"></script>
    <script src="../Areas/Manage/Assets/js/directives.js"></script>
    <script src="../Areas/Manage/Assets/js/app.filter.js"></script>

    <script src="../Areas/Manage/Assets/js/views/layout/content.controller.js"></script>
    <script src="../Areas/Manage/Assets/js/views/layout/footer.controller.js"></script>
    <script src="../Areas/Manage/Assets/js/views/layout/header.controller.js"></script>
    <script src="../Areas/Manage/Assets/js/views/layout/sidebar.controller.js"></script>
    <!-- END APP LEVEL ANGULARJS SCRIPTS -->
    <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
    <script src="../areas/manage/assets/js/vendor/metronic.js" type="text/javascript"></script>
    <script src="../areas/manage/assets/js/vendor/layout.js" type="text/javascript"></script>
    <script src="../areas/manage/assets/js/vendor/demo.js" type="text/javascript"></script>
    <!-- END APP LEVEL JQUERY SCRIPTS -->
    @*<script type="text/javascript">
            /* Init Metronic's core jquery plugins and layout scripts */
            $(document).ready(function() {
                Metronic.init(); // Run metronic theme
                Metronic.setAssetsPath('../../../areas/manage/assets/'); // Set the assets folder path
            });
        </script>*@

    <script type="text/javascript">
        /* Init Metronic's core jquery plugins and layout scripts */
        document.addEventListener("DOMContentLoaded", function (event) {
            Metronic.init(); // Run metronic theme
            Metronic.setAssetsPath('../areas/manage/assets/'); // Set the assets folder path
        });
    </script>

    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>