<div class="page-content-wrapper1">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-product"></i>
                <span class="caption-subject bold uppercase"> Müşteriler </span>
            </div>
            <div class="actions">
                <div class="form-group">
                    <div class="input-icon input-icon-sm right">
                        <i class="fa fa-bell-o"></i>
                        <input type="text" class="form-control input-circle input-sm input-large " placeholder="Müşteri Adı ile Ara..." ng-model="text" my-enter="search()">
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet-body flip-scroll">
            <div class="row table-header">
                <div class="col-xs-12 col-sm-9">
                    <mypaging pageinfo="paging" getlist="getList"></mypaging>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <!--<button class="btn btn-default btn-sm pull-right">Bağışçı Stoğu Ekle</button>-->
                    <a href="#/customer-set" class="btn btn-default btn-sm pull-right margin-right-10">Yeni Müşteri Ekle</a>
                </div>
            </div>
            <table class="table table-bordered table-striped table-condensed flip-content">
                <thead>
                    <tr ng-show="customers.length">
                        <th> TC No </th>
                        <th> Adı Soyadı </th>
                        <th> Telefon </th>
                        <th> Email </th>
                        <th> İl </th>
                        <th> İlçe </th>
                        <th> İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="customers.length < 1" class="ng-hide">
                        <td colspan="13" align="center">
                            <br><b><i>Kayıt bulunmamaktadır.</i></b><br><br>
                        </td>
                    </tr>
                    <tr ng-repeat="item in customers" ng-dblclick="redirectform(item.ID)">
                        <td>{{item.IdentityNo}}</td>
                        <td>{{item.UserName}} {{item.UserSurname}}</td>

                        <td>{{item.Phone}} </td>
                        <td>{{item.Email}}</td>
                        <td>{{item.City}}</td>
                        <td>{{item.County}}</td>


                        <td class="text-center">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-left">
                                    <li>
                                        <a ng-click="delete(item.ID)" confirm="Silmek istediğinize emin misiniz?" confirm-title="İşlem" confirm-ok="Evet" confirm-cancel="İptal">
                                            <i class="fa fa-times"></i> Sil
                                        </a>
                                    </li>
                                    <li><a href="#/customer-detail/{{item.ID}}"><i class="fa fa-edit"></i> Düzenle</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>