<div class="page-content-wrapper">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349">1349</span>
                    </div>
                    <div class="desc"> Başvuru yapan kişi sayısı  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="21321">21321</span>₺
                    </div>
                    <div class="desc"> Toplam ödeme sayısı</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12321">12321</span>
                    </div>
                    <div class="desc"> Toplam atanan tarih sayısı </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->
</div>
<!-- End page-content-wrapper -->